@use '../../components//GlobalStyles/' as *;

.checkout-page {
    margin-top: 300px;
    .title {
        text-align: center;
        font-family: 'Gotham Light';
        font-weight: normal;
        font-size: 35px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(#000, 0.2);
    }
}

.content {
    @include flex(center, flex-start);
}

.product-item {
    position: relative;
    @include flex(center, center);
    width: 450px;
    margin: auto;
    padding: 15px 0;

    &:not(:last-child) {
        border-bottom: 1px solid #ccc;
    }
}

.image-box {
    display: block;
    width: 150px;
    height: 150px;
    margin-right: 20px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.item-content {
    width: 350px;

    .name {
        font-weight: 600;
        font-family: 'Gotham Light';
        font-size: 18px;
    }

    .options {
        margin-bottom: 15px;
        font-size: 13px;
        color: #898989;
    }

    .price {
        margin-bottom: 5px;
    }

    .price,
    .total {
        span {
            font-family: 'Gotham Bold';
            margin-left: 12px;
        }
    }

    .amount {
        @include flex(unset, center);
        margin-bottom: 5px;

        p {
            margin-right: 15px;
        }
    }
}

.input-number {
    position: relative;
    width: 80px;
    @include flex(unset, center);
}

.input {
    width: 50px;
    height: 30px;
    margin: auto;
    @include flex(center, center);

    span {
        font-size: 20px;
        margin-bottom: 5px;
        font-family: 'Gotham Bold';
    }
}

.buttons {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    @include flex(space-between, center);
    pointer-events: none;

    span {
        width: 30px;
        height: 30px;
        @include flex(center, center);
        pointer-events: auto;
        cursor: pointer;
    }
}

.remove {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.summary {
    width: 400px;
    text-align: center;
    margin: 35px auto 0;
    border-radius: 15px;
    border: 1px solid #ccc;
}

.summary-title {
    font-family: 'Gotham Light';
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
}

.summary-detail {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 20px 0;
}

.summary-price {
    @include flex(space-between, unset);
    color: #898989;

    &:not(:first-child) {
        margin-top: 6px;
    }
}

.summary-total {
    @include flex(space-between, unset);
    margin: 20px 0;
}

.button {
    margin-bottom: 10px;
}
